.hero {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 40px 120px 47px;
    box-sizing: border-box;
    overflow: hidden;
}

.hero-ellipse-left {
    position: absolute;
    left: -7px;
    top: 10%;
    z-index: -100;
}

.hero-ellipse-right {
    position: absolute;
    right: -17px;
    bottom: 1%;
    z-index: -100;
}

.hero-circle-lightpurpule {
    position: absolute;
    left: -191px;
    bottom: 0%;
    z-index: -100;
    width: 476px;
    height: 476px;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(127, 86, 217, 0.12) 0%, rgba(36, 187, 140, 0) 100%);
}

.hero-circle {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: rgba(127, 86, 217, 0.6);
    border-radius: 50%;
    left: 25%;
    bottom: 17%;
    z-index: -100;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 73px;
}

.hero__upyourskill {
    box-sizing: border-box;
    max-width: 573px;
    width: 100%;

}

.hero__upyourskill-title {
    padding-top: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 82px;
    letter-spacing: -0.5px;
    text-transform: capitalize;
    color: #101828;
    margin-bottom: 20px;
}

.hero__upyourskill-title-purpule {
    color: #7F56D9;
}

.hero__upyourskill-info {
    max-width: 500px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #646464;
    margin-bottom: 37px;
}

.hero__upyourskill-title-btns {
    margin-bottom: 50px;
}

.hero__upyourskill-title-btns-start {
    padding: 16px 28px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    border-radius: 8px;
    background: #7F56D9;
    border: 1px solid #7F56D9;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #F4EBFF;
    color: #FFFFFF;
    margin-right: 23px;
    cursor: pointer;
}

.hero__upyourskill-title-btns-trial {
    padding: 16px 28px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    border-radius: 8px;
    background: #F4EBFF;
    color: #6941C6;
    border: none;
    cursor: pointer;
}

.hero__upyourskill-icons {
    max-width: 572px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero__upyourskill-icon-img-wrapper {
    display: flex;
    align-items: center;
}

.hero__upyourskill-icon-img {
    margin-right: 10px;
}

.hero__upyourskill-icon-img-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: rgba(29, 41, 57, 0.7);
}

.hero__student {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding-right: 37px;
    max-width: 626px;
    width: 100%;
}

.hero__student-girl {
    box-sizing: border-box;
}

.hero__student-girl-onlineCourses {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 145px;
    width: 100%;
    padding: 17px;
    box-sizing: border-box;
    background: #F5F5F4;
    border: 1px solid #7F56D9;
    box-shadow: 0px 18px 38px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    right: 0%;
    top: 1%;
    transform: translate(0px, 0px);


}

.hero__student-girl-onlineCourses-chart {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;


}

.hero__student-girl-onlineCourses-number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #101828;
    margin-bottom: 12px;

}

.hero__student-girl-onlineCourses-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #101828;
    opacity: 0.5;

}

.hero__student-girl-videoCourses {
    position: absolute;
    top: 34%;
    left: 1px;
    display: flex;
    max-width: 215px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 17px;
    background: #F5F5F4;
    border: 1px solid #7F56D9;
    box-shadow: 0px 18px 38px rgba(0, 0, 0, 0.15);
    border-radius: 18px;

}

.hero__student-girl-videoCourses-icon {

    max-width: 50px;
    width: 100%;
    margin-right: 25px;

}

.hero__student-girl-videoCourses-text {
    display: flex;
    flex-direction: column;
}

.hero__student-girl-videoCourses-text-number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #101828;
    margin-bottom: 2px;
}

.hero__student-girl-videoCourses-text-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #101828;
    opacity: 0.5;
}

.hero__student-girl-tutors {
    position: absolute;
    right: 2%;
    bottom: 8%;
    display: flex;
    flex-direction: row;
    max-width: 165px;
    box-sizing: border-box;
    width: 100%;
    background: #F5F5F4;
    border: 1px solid #7F56D9;
    box-shadow: 0px 18px 38px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    padding: 17px;

}

.hero__student-girl-tutors__text-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #101828;
    opacity: 0.5;
    margin-bottom: 2px;
}

.hero__student-girl-tutors__text-number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #101828;

}

.hero__student-girl-tutors__icon {
    max-width: 50px;
    width: 100%;
    margin-right: 12px;

}

.hero__link-partner {
    display: flex;
    align-items: center;
}

.hero__link-partner-collaboration {
    display: flex;
    flex-direction: column;
    max-width: 178px;
    width: 100%;
    margin-right: 50px;
}

.hero__link-partner-collaboration-number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #7F56D9;
}

.hero__link-partner-collaboration-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 34px;
    color: #101828;
}

.hero__link-partner-icon {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 60px;
}